body{
    background-image:url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    height:100vh;

}
#clock{
    font-family:monospace;
    font-size:6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    color:aliceblue;
    text-shadow:2px 2px 2px orangered;
}
p{
    font-family:monospace;
    font-size:6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    color:aliceblue;

}